<!DOCTYPE html>
<html>
<head>
	<title>titre test</title>
	<%= wicked_pdf_stylesheet_link_tag 'pdf'%>
	<meta charset="utf-8">
</head>
<body>
<img src="http://www.estimancy.com/wp-content/uploads/2018/02/Logo-Estimancy-1-300x64.png">
<br>
	<h1>Petit Exercice Ruby on Rails</h1>
	
	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Age</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% @ma_tables.each do |ma_table| %>
				<tr>
					<td><%= ma_table.name %></td>
					<td><%= ma_table.age %></td>
					<td><%= ma_table.description %></td>
				</tr>
			<%end%>
		</tbody>
	</table>
</body>
</html>
